<%- include('./header.ejs'); %>


<div class="col-sm-6 bg-white p-3">
    <h3>Hoş Geldin!</h3><hr>
    <p>Aswnodeweb kurulumuna hoş geldin. Sadece 2 adımdan oluşan kurulumu bitirdikten sonra artık kullanıma hazır bir web sitesine sahip olacaksın.</p>
    <h5>Adımlar</h5><hr>
    <ol>
        <li>Veritabanı ayarlarının yapılması</li>
        <li>Yönetici hesabının oluşuturulması ve site bilgilerinin ayarlanması</li>
    </ol>
    <hr>
    <div class="clearfix">
        <a href="/asw-app-setup/step-database" class="btn btn-primary btn-sm float-right">Kuruluma Başla</a>
    </div>
</div>

<%- include('./footer.ejs'); %>
